* {
    box-sizing: border-box;
}

nav {
    user-select: none;
}

.terms-container {
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid gray;
}

.terms-box {
    height: 100%;
    padding: 1em 2em;
    overflow-y: auto;
}