{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block main %}
<h1>Welcome to the Login Challenge!</h1>
<p>Can you hack your way through this login challenge?</p>
<p>All you need to do is simply login to win!</p>
<p>Don't have a username or password to login with? Not to worry, simply head on over to the registration page and
    register for one! No email required!
</p>
<p>Uh-oh, it looks like the link to the registration page is grayed out. Find another way to get there!</p>
{% endblock %}