{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}

{% block main %}
<div class="main-box">
    <p class="text-center">{{ message }}</p>
    <form action="/login" method="post" class="game-form">
        <input autocomplete="off" autofocus required type="text" name="username" placeholder="Username" minlength="4"
            maxlength="8">
        <input required type="password" name="password" placeholder="Password" minlength="8">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}