{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}

{% block main %}
<h1>Register</h1>
<p>{{ message }}</p>
<p>Here's your second challenge, create a password!</p>
<p>To proceed, find a way to successfully submit an empty password.</p>
<form action="/register" method="post">
    <input autofocus required type="password" name="password" placeholder="Password" minlength="8">
    <input required type="password" name="confirm" placeholder="Confirm password" minlength="8">
    <button type="submit" name="validate" value="password">Apply Password</button>
</form>
{% endblock %}