{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}

{% block main %}
<h1>Register</h1>
<p>{{ message }}</p>
<p>Here's your first challenge, creating a username.</p>
<p>Your username must be exactly 16 characters long so find a way to submit it.</p>
<form action="/register" method="post">
    <input autocomplete="off" autofocus required type="text" name="username" placeholder="Username" minlength="4" maxlength="8">
    <button type="submit" name="validate" value="username">Submit Username</button>
</form>
{% endblock %}